
.message {
    padding: 10px;
}

.imageAndText {
    align-items: end;
    display: grid;
    grid-template-columns: 100px 360px;
    justify-items: center;

}

.imageAndText img {
    border-radius: 500%;
    margin-left: 750px;
    width: 55px;

}

.text {
    background: #F5F7FB;
    border-radius: 10px 10px 0 10px;
    color: #0f0f10;
    min-height: auto;
    padding: 5px;
    position: relative;
    width: 350px;
    right: 85px;
}

.text:after {
    background: radial-gradient(60px at top right, transparent 49%, #F5F7FB 51%) no-repeat 100% 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    left: 100%;
    width: 30px;
}

.name {
    color: #0f0f10;
    font-size: 20px;

    font-weight: bold;
    margin-left: 62.5%;
}

.messageText {
    margin: 5px;
    text-align: justify;
    white-space: pre-wrap;
    padding-right: 10px;
    font-size: 13.5px;
}

.time {
    float: left;
    margin: 5px 0px 5px 5px;
    font-size: 15px;
}