.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.responseContainer {
    width: 100%;
    margin: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageContainer {
}

.image {

}

.textContainer {
    width: 40%;
}

.code {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.info {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}