.sidebar {
    z-index: 20;
    position: fixed;
    transition: 0.2s ease-in;
    height: 100vh;
    width: 317px;
    left: -317px;
    top: 0;
    background: #fff;
}

.sidebar.open {
    left: 0;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    transition: 0.2s ease-out;
}

.background {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.nav {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 45px;
    padding-left: 70px;
    margin-top: 47px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.nav a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}

.close {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 16px 24px 0 269px;
}

.close img {
    height: 24px;
    width: 24px;
}
