.stand {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 200px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 200px;
}
